build/
node_modules/
webui/version.txt
docs/web-flasher/node_modules/
.vscode/
managed_components/
components/makapix/certs/*.pem
!components/makapix/certs/README.md
!components/makapix/certs/*.inc
!components/makapix/certs/convert_cert.py
!components/makapix/certs/get_certificates.*
nul
flasher/.venv/
.claude/